
.container__reward {
  position: relative;
  padding: 0;
  height: 90px;
  &-bar {
    background: #dedede;
    border-radius: 50px;
    height: 6px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;

    &--progress {
      background: #444444;
      border-radius: inherit;
      height: 100%;
      transition: width .3s ease-in-out;
      width: 0;
    }
  }

  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    z-index: -1;
  

    &--reward {
      text-align: center;
      width: 25%;
      p{
        font-weight: 600;
        color: #dedede;
      }
      p.active {
        color: #444444;
      }
      p.point-none {
        color: #44444400;
      }
    }
  }
}