{% assign cart_title = "sections.cart.title" | t %}

{%- liquid
  assign active_reward_two = section.settings.active_reward_two
  assign active_reward_three = section.settings.active_reward_three
  assign amount_reward_one = section.settings.amount_reward_one
  assign amount_reward_two = section.settings.amount_reward_two
  assign amount_reward_three = section.settings.amount_reward_three
  assign cart_total = cart.original_total_price
  assign limit_price = amount_reward_one
  assign active_rewards = section.settings.show_rewards
-%}
{% if active_reward_two %}
  {% assign limit_price = amount_reward_one %}
{% endif %}
{% if active_reward_three %}
  {% assign limit_price = amount_reward_two %}
{% endif %}


<div class="cart-wrapper">
  {% render 'cart-header'
    title: cart_title,
  %}
  
  {% render 'cart-items' 
    cart: cart
  %}

  <div id="is-show-rewards" data-active-rewards={{ active_rewards }}></div>
  {% if active_rewards %}
    {% render 'cart-bar-rewards'
      active_reward_two: active_reward_two, 
      active_reward_three: active_reward_three,
      amount_reward_one: amount_reward_one,
      discount_reward_one: section.settings.discount_reward_one,
      amount_reward_two: amount_reward_two,
      discount_reward_two: section.settings.discount_reward_two,
      amount_reward_three: amount_reward_three,
      discount_reward_three: section.settings.discount_reward_three,
      text_reward_one: section.settings.text_reward_one,
      text_reward_two: section.settings.text_reward_two,
      text_reward_three: section.settings.text_reward_three,
      limit_price: limit_price,
      cart_total: cart_total
    %}
  {% endif %}
  
  
  {% render 'cart-footer'
    cart: cart,
    shipping_info: section.settings.shipping_info,
  %}

  <span class="cart-close">
    {% render 'icon-close' %}
  </span>

</div>

{% schema %}
{
  "name": "Cart",
  "class": "cart",
  "settings": [
    {
      "type": "header",
      "content": "Cart configuration"
    },
    {
      "type": "text",
      "id": "shipping_info",
      "label": "Shipping inf",
      "default": " Le livraison estimé : J+2/3"
    },
    {
      "type": "header",
      "content": "Rewards discount"
    },
    {
      "type": "checkbox",
      "id": "show_rewards",
      "label": "Show rewards",
      "default": true
    },
    { 
    "type": "number",
    "id": "amount_reward_one",
    "label": "limit amount product one",
    "default": 20
    },
    {
      "type": "text",
      "id": "text_reward_one",
      "label": "Text reward one",
      "default": "5% off"
    },
    {
      "type": "text",
      "id": "discount_reward_one",
      "label": "Code reward one",
      "default": "DISC-ONE-REWARDC0TFKXXEG1YV"
    },
    {
      "type": "number",
      "id": "amount_reward_two",
      "label": "limit amount product two",
      "default": 80
    },
    {
      "type": "text",
      "id": "text_reward_two",
      "label": "Text reward two",
      "default": "15% off"
    },
    {
      "type": "text",
      "id": "discount_reward_two",
      "label": "Code reward two",
      "default": "DISC-TWO-REWARD9C7QEFA4NC44"
    },
    {
      "type": "number",
      "id": "amount_reward_three",
      "label": "limit amount product three",
      "default": 120
    },
    {
      "type": "text",
      "id": "text_reward_three",
      "label": "Text reward three",
      "default": "25% off"
    },
    {
      "type": "text",
      "id": "discount_reward_three",
      "label": "Code reward three",
      "default": "DISC-THREE-REWARDHAGWF5JD8XNV"
    },
    {
      "type": "header",
      "content": "active rewards"
    },
    {
      "type": "checkbox",
      "id": "active_reward_two",
      "label": "Active reward two",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "active_reward_three",
      "label": "Active reward three",
      "default": true
    }
  ]
}
{% endschema %}